<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WlaTube</title>
</head>
<body>
    <h1>Yüklenen Videolar</h1>
    <ul>
        {% for video in videos %}
            <li>
                <a href="{{ url_for('main.video_detail', video_id=video.id) }}">{{ video.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('main.upload_video') }}">Yeni Video Yükle</a>
</body>
</html>